@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background-color: #fcfbfb;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  background-color: #358600;
}

.home-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

nav, a {
  padding: 35px;
  text-align: center;
  color: #AAEFDF;
  text-decoration: none;
}

nav a:hover {
  color: black;
  background-color: #CFFCFF;
}

#hero-img {
  width: 100%;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

#logo_link {
  padding-top: 5px;
}

.icon, .logo {
  width: 80px;
}

.icon {
  padding-top: 10px;
}

.book, .join {
  margin-top: 50px;
  padding: 15px 30px;
  color: black;
  background-color: #9EE37D;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.card-img {
  border: 10px solid #9EE37D;
}

main section img {
  box-sizing: border-box;
}

.book:hover, .join:hover {
  color: black;
  background-color: #CFFCFF;
}

#background {
  height: 725px;
  background-color: #9EE37D;
}

.msg {
  font-family: 'Open Sans', sans-serif;
  padding: 35px;
  line-height: 1.5em;
  background-color: #358600;
}

.msg p {
  font-size: .8em;
  padding-bottom: 15px;
}

footer {
  margin-top: 200px;
  padding: 25px 50px;
  background-color: #358600;
}

footer .social img {
  padding-top: 15px;
}

footer a {
  color: #CFFCFF;
  text-decoration: none;
}

footer p {
  font-size: 1.5em;
}

footer p a:hover {
  color: black;
  background-color: #CFFCFF;
  text-decoration: none;
}