@import url('https://fonts.googleapis.com/css?family=MedievalSharp|Josefin+Sans');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  background-color: #fcfbfb;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  height: 100px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: #264C5E;
  font-family: 'MedievalSharp', sans-serif;
}

.nav-logo {
  height: 85px;
  margin-right: 10px;
}

a {
  height: 100%;
  padding: 0 25px;
  text-align: center;
  color: #CEC2AE;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header a:hover {
  background-color: #E94445;
}

.collapse {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.flip {
  transform: rotate(180deg);
}

footer {
  margin-top: 50px;
  height: 150px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #CEC2AE;
  background-color: #264C5E;
}

footer a {
  height: 100%;
  text-decoration: none;
  padding: 20px 10px;
}

.social {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 1.15em;
}

footer .social p a:hover {
  background-color: #E94445;
}

.footer-logo {
  height: 125px;
}

/* home */
#opener {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
  font-family: 'MedievalSharp', sans-serif;
}

.opac-box {
  padding: 15px 75px;
  z-index: 2;
}

#opener-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .6;
  z-index: 1;
}

#home-main {
  padding: 0 15px;
}

#home-main p {
  margin: 25px 15px;
  text-align: center;
}

#bottom-text-home {
  margin-left: 13%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #CEC2AE;
}

#home-roleplay {
  height: 75%;
  width: 28%;
  position: absolute;
  left: -15%;
  border: solid #4A2932 10px;
}

#bottom-text {
  padding-left: 13%;
}

/* planning */
#planning-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monster-selection {
  position: relative;
  height: 500px;
  width: 90%;
  padding: 35px 10px 10px;
  margin: 25px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow: auto;
  background-color: aqua;
}

.shrink {
  height: 0;
  overflow: hidden;
}

.monster-selector {
  width: 45%;
  height: 50px;
  padding: 0 25px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

#tracker-breakdown {
  margin: 25px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tracker-pic {
  height: 300px;
}

.tracker-example {
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: pink;
}

.health-updater-example {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.health-updater-input-example {
  width: 40%;
  text-align: right;
}

#tracker-breakdown-text {
  width: 50%;
}

#encounter-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

.encounter-tracker-displays {
  padding: 25px;
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tracker-div-title {
  position: absolute;
  top: 15px;
  left: 25px;
}

#encounter-monsters {
  width: 100%;
}

#encounter-players {
  width: 100%;
  padding-right: 300px;
}

#player-form {
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: bisque;
  position: absolute;
  right: 25px;
}

.tracker {
  min-height: 250px;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: pink;
}

.health-updater {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.health-updater-input {
  width: 40%;
  text-align: right;
}